body {
    margin: 0px;
    padding: 0px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0px;
  }
  .coffie-shop {
    width: 70%;
    padding: 0px 10px;
    background-color: #eff0f3;
  }
  .sidebar-coffee {
    width: 25%;
    position: fixed;
    right: 25px;
  }
  .container-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container-1 .search {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .container-1 .search input {
    padding: 5px;
    border-radius: 5px;
    padding-left: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  .container-1 .search svg {
    position: absolute;
    left: 5px;
    top: 7px;
  }
  .menu {
    margin: 20px 0px;
    display: flex;
    gap: 30px;
  }
  .menu a {
    padding: 7px 15px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #fa5246;
    color: #f2f7f5;
  }
  .menu a:hover {
    background-color: #ffffff;
    color: rgb(4, 4, 4);
    cursor: pointer;
  }
  .container-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .container-cards .bungkus-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding-bottom: 20px;
  }
  .bungkus-1 .card {
    width: 29.4%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px 10px 0px 10px;
    border-radius: 5px;
    background-color: #ffffff;
  }
  .bungkus-1 .card div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card img {
    width: 100%;
  }
  .card div {
    display: flex;
    align-items: center;
    margin: 0px;
  }
  .currentOrder {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .currentOrder .order {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .currentOrder .order .card {
    width: 96%;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
  }
  .currentOrder .card .gambar {
    width: 45%;
    height: 100%;
  }
  .currentOrder .order .gambar img {
    border-radius: 5px;
    width: 100%;
  }
  .order {
    max-height: 250px;
    overflow-y: auto;
    width: 100%;
  }
  .order .card {
    display: flex;
    gap: 10px;
    margin: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 90%;
  }
  .order .card .text {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .order .card .text p {
    margin: 0px;
    padding: 0px;
    font-size: medium;
  }
  .order .card .text .harga {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .order .card .text .aksi {
    display: flex;
    gap: 4px;
    justify-content: space-between;
    right: 20px;
  }
  .order .card .text .aksi button {
    background-color: #fa5246;
    color: #e3f6f5;
    border: none;
    border-radius: 5px;
  }
  .nota {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ecefef;
    border-radius: 5px;
    padding: 5px;
  }
  .nota p {
    margin: 5px;
  }
  .nota div {
    display: flex;
    justify-content: space-between;
  }
  .currentOrder .pay {
    background-color: #32da5f;
    border: none;
    color: #e3f6f5;
    font-size: medium;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
  }
  